html {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 640rem;
  margin: 0 auto;
  min-height: 100%; }

table {
  border-collapse: collapse; }
  table th,
  table td {
    padding: 0; }

body {
  font-family: 'Microsoft Yahei', Helvetica, sans-serif;
  min-height: 100%;
  background-color: #fff;
  margin: 0 auto; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

button,
input {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0; }

button:disabled,
input[type='button']:disabled {
  color: #666 !important;
  background-color: #ddd !important; }

input {
  -webkit-appearance: none; }

.page {
  margin: 0;
  height: 100%;
  padding-top: 15px;
  overflow: hidden; }
  .page .header {
    margin: auto;
    width: 55%;
    height: 30px;
    color: #444;
    font-family: "Avenir Next","Avenir","Helvetica Neue",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden; }
  .page .line {
    margin-top: 30px;
    height: 0;
    border-bottom: 1px solid #f5f5f5; }
  .page .footer {
    margin-top: 30px;
    width: 100%;
    padding: 10px 0 20px;
    text-align: center;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 13px;
    font-family: "Optima","Helvetica Neue",sans-serif; }

.header .bike,
.header .brand,
.header .nav-home,
.header .nav-about {
  height: 30px;
  position: relative;
  display: inline-block;
  line-height: 30px; }

.header .bike {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 30px; }

.header .brand {
  margin-left: 10px;
  float: left;
  font-size: 24px;
  font-weight: 300; }

.header .nav-home,
.header .nav-about {
  width: 60px;
  margin-left: 10px;
  float: right;
  font-size: 16px;
  cursor: pointer; }

.header .nav-home {
  opacity: 0.1; }

.header .nav-home:hover {
  opacity: 1; }

.header .nav-about:hover {
  font-size: 17px; }

.profile {
  margin: auto;
  width: 50%;
  height: auto;
  overflow: hidden; }
  .profile .about {
    margin: 30px 0 20px;
    line-height: 60px;
    font-size: 28px;
    font-weight: 300;
    font-family: "Georgia","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
    color: #222223; }
  .profile .detail {
    margin: 30px 0 30px;
    font-size: 18px;
    line-height: 40px;
    font-family: "Lora","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
    color: #444443; }
  .profile .skill {
    font-size: 17px; }
  .profile .state,
  .profile .shadow {
    font-size: 14px; }
  .profile .shadow {
    margin-bottom: -30px; }
